body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    color: #072;
    font-size: 15px;
    line-height: 150%;
    margin: 0 0 10px 0;
}

h2 a {
    font-size: 15px;
}

/* a imgLyx{
    position: relative;
    top: 3px;
    /* margin-top: -10px; 
} */
/* a:hover{
    background-color: #37a;
    color: white;
}
a:active{
    background-color: #f93;
    color: white;
} */

h1 {
    margin: 0;
}

h1 a {
    display: block;
    position: absolute;
    left: 0;
    top: 30px;
    background: url('../img/logo_db.png') no-repeat;
    width: 154px;
    height: 30px;
    color: transparent;
}

.header span {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

@keyframes backgroundAnimation {
    0% {
        background-color: #FFC0CB; /* 起始颜色为粉色 */
    }
    50% {
        background-color: #87CEEB; /* 中间颜色为天蓝色 */
    }
    100% {
        background-color: #FFC0CB; /* 结束颜色为粉色 */
    }
}

body {
    animation: backgroundAnimation 6s infinite; /* 6秒的动画循环 */
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: box-shadow 0.3s ease;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #45a049;
}


.header_down {
    width: 100%;
    height: 180px;
    background-color: #edf4ed;
    position: relative;
}

.bg {
    /* 插入一张背景图片 */
    position: absolute;
    width: 500px;
    height: 300px;
    left: 130px;
    background: url('../img/doubanapp5_bg.png') no-repeat;
}

.header_down .register_app {
    position: absolute;
    left: 223px;
    width: 566px;
    height: 180px;
    background: url('../img/doubanapp5.png') no-repeat;
    background-position: -20px -150px;
}

.header_down .app_title {
    position: relative;
    left: 414px;
    top: 34px;
    font-size: 50px;
    color: black;
    margin: 0;
}

.header_down .app_title span {
    margin-left: 10px;
}

.header_down .app_slogan {
    position: absolute;
    left: 414px;
    top: 90px;
    margin: 0;
    font-size: 12px;
    letter-spacing: 2px;
}

.header_down .register_app a.link_app {
    display: block;
    width: 115px;
    height: 25px;
    color: white;
    background-color: #00b51d;
    position: absolute;
    left: 414px;
    top: 115px;
    text-align: center;
    font-size: 15px;
    /* vertical-align: center; */
    padding-top: 5px;
}

.header_down .register_app .app_qr_a img {
    position: absolute;
    left: 535px;
    top: 115px;
    border: 1px solid #00b51d;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    /* position: relative; */
}

.header_down .register_app .app_qr .app_qr_expand {
    position: absolute;
    left: 535px;
    top: 105px;
    width: 160px;
    height: 180px;
    color: black;
    padding: 20px;
    background-color: white;
    /* border: 1px solid black; */

}

.app_qr_expand img {
    position: absolute;
    width: 160px;
    height: 160px;
}

.app_qr_expand p {
    position: absolute;
    top: 175px;
    color: #666;
    font-size: 13px;
    text-align: center;
}

.app_qr_expand {
    /* 默认隐藏 */
    display: none;
}

.app_qr:hover .app_qr_expand {
    display: block;
    /* 二维码显示在最上面 */
    z-index: 2;
}


.banner_ad {
    max-width: 100%;
    height: 100px;
    margin: 0 0;
    background: url('../img/img_1.png') no-repeat;
}

#section a {
    text-decoration: none;
}

#section a:hover {
    background-color: #37a;
    color: white;
}

#section a:active {
    background-color: #f93;
    color: white;
}

.section_film {
    position: relative;
    width: 100%;
    height: 650px;
    background-color: #F7F7F7;
    color: #27a;
}

.wrapper_left {
    position: absolute;
    left: 210px;
    top: 40px;
}

.wrapper_left ul {
    list-style-type: none;
    padding-left: 0;
}

.wrapper_left ul li {
    margin-bottom: 8px;
}

.wrapper_left h2 a {
    font-size: 24px;
}

.wrapper_left ul li a {
    font-size: 19px;
}

.film_left {
    color: #27a;
}

.film_left h2 a {
    color: #27a;
}

.film_left ul li a {
    color: #27a;
}

.wrapper_center ul {
    list-style-type: none;
    padding-left: 0;
}

.wrapper_center {
    position: absolute;
    left: 325px;
    top: 40px;
    width: 600px;
}

.wrapper_center ul li {
    display: inline-block;
}

.film_center img {
    width: 100px;
    height: 145.37px;
}

.film_center .pic {
    margin: 0 15px 10px 15px;
}

.film_center .title {
    text-align: center;
}

.film_center .title a {
    color: #333;
    font-size: 18px;
}

.film_center ul li {
    margin-bottom: 30px;
}

.film_center ul li .purcharse {
    background-color: #1c8bd0;
    color: white;
    text-align: center;
    margin-left: 30px;
}

.film_center .rating span {
    margin-left: 30px;
    font-size: 12px;
    display: block;

}

.film_center .rating {
    margin-bottom: 10px;
}

.film_center .title {
    margin-bottom: 5px;
}

.wrapper_right {
    position: absolute;
    left: 890px;
    top: 40px;
    width: 280px;
}

.movie_right a {
    color: #669;
}

.movies ul {
    list-style-type: none;
    padding-left: 0;
}

.movies ul li {
    display: inline-block;
    width: 48px;
}

.movies ul li a {
    font-size: 16px;
}

.hotMovie ol {
    padding-left: 15px;
}

.hotMovie ol li a {
    font-size: 16px;
}

.hotMovie ol li {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    height: 160px;
    border: 1px solid orange;
    position: relative;
}

.footer a:hover {
    background-color: #37a;
    color: white;
}

.footer_wrapper {
    position: absolute;
    left: 205px;
    top: 20px;
}

.footer_left {
    color: #999;
    font-size: 12px;
    line-height: 1.5;
}

.footer_right {
    position: absolute;
    left: 540px;
    top: 0px;
    width: 430px;
    font-size: 12px;
}

.footer_right ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 20px;
}

.footer_right ul li {
    display: inline-block;
}

.footer_right_pic a img {
    position: relative;
    top: 10px;
}